<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <header>
        <h1>
            Mi portfolio
        </h1>
        <nav>
            <a href="index.html">inicio</a>
            <a href="proyectos.html">proyectos</a>
        </nav>
   </header>
   <main>
        <section>
            <h2>Sobre Mi</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto voluptatibus nulla eligendi dicta dolores culpa nisi iure incidunt repellendus quae sapiente facilis totam tempora maxime, nam, praesentium reiciendis enim ea?</p>
            <p> Este es mi formulario <a href="mipaginaweb.com">Instagram</a></p>
        </section>
        <section>
            <h2>Mis logros</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto voluptatibus nulla eligendi dicta dolores culpa nisi iure incidunt repellendus quae sapiente facilis totam tempora maxime, nam, praesentium reiciendis enim ea?</p>
        </section>
        <section>
            <h2>Noticias</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto voluptatibus nulla eligendi dicta dolores culpa nisi iure incidunt repellendus quae sapiente facilis totam tempora maxime, nam, praesentium reiciendis enim ea?</p>
        </section>
   </main>
   <footer>
        <p>@NahuelCampo 2025</p>
   </footer>
</body>
</html>